<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div>
	    <h2 th:text="${pass}"></h2>
		<h1>Products List</h1>
		<table border="1" cellspacing="5px" cellpadding="20px">
			<tr>
				<th>Name</th>
				<th>Picture</th>
				<th>Category</th>
				<th>Stock</th>
				<th>Price</th>
				<th>Action</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
			<tr th:each="product:${products}">
				<td th:text="${product.name}"></td>
				<td><img th:src="@{'data:image/jpeg;base64,'+${product.generateBase64Image()}}" width="150px" height="150px"></td>
				<td th:text="${product.category}"></td>
				<td th:text="${product.stock}">Stock</td>
				<td th:text="${product.price}">Price</td>
				<td th:if="${product.display==false}"><a th:href="@{'/admin/change/'+${product.id}}"><button>show</button></a></td>
				<td th:if="${product.display==true}"><a th:href="@{'/admin/change/'+${product.id}}"><button>hide</button></a></td>
				<td><a th:href="@{'/admin/edit/'+${product.id}}"><button >Edit</button></a></td>
				<td><a th:href="@{'/admin/deletebyid/'+${product.id}}"><button>Delete</button></a></td>
			</tr>
		</table>
		<a href="/admin/home"><button>Back</button></a>
	</div>
</body>
</html>